<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njust.dao.baseDao.PersistentLoginsMapper" >
  <resultMap id="BaseResultMap" type="com.njust.bean.baseBean.PersistentLogins" >
    <!--
      WARNING - @mbg.generated
    -->
    <constructor >
      <idArg column="series" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="token" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="last_used" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    series, username, token, last_used
  </sql>
</mapper>